<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.ymqm.housing.dao.HousePickingTipBasicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="priv.ymqm.housing.domain.po.HousePickingTipBasic">
        <id column="id" property="id" />
        <result column="unique_key" property="uniqueKey" />
        <result column="city_name" property="cityName" />
        <result column="community_id" property="communityId" />
        <result column="title" property="title" />
        <result column="survey_time" property="surveyTime" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="create_timestamp" property="createTimestamp" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_timestamp" property="updateTimestamp" />
        <result column="reviewer_id" property="reviewerId" />
        <result column="review_timestamp" property="reviewTimestamp" />
        <result column="state" property="state" />
        <result column="is_del" property="isDel" />
    </resultMap>

</mapper>
